body {
    background: #292929;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* à cause de center center */
    color: #CCC;
}

.fixed-row {
    bottom: 180px; /* player-div.height + marge 2px */
}

/* Affichage de l'image "fanart" en fond (src: https://css-tricks.com/snippets/css/transparent-background-images/) */
.background-overlay {
    background: #292929;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
}

#playlist {
    column-count: 3;
}

#player-others {
    position: absolute;
    top: 0;
    left: 320px; /* player-div.height * 16/9 */
    right: 0;
    bottom: 0;
}

#player-position {
    position: absolute;
    top: 0;
    left: 48px; /* controls.width + margin*/
    right: 0;
    height: 21px;
    margin: 0 1em 4px 1em;
}

#player-controls-form {

}

#player-position > div {
    position: absolute;
    top: 0;
    bottom: 0;
}

#player-position-start {
    left: 0;
    width: 5em;
    text-align: right;
}

#player-position-slider {
    left: 5em; /* player-position-start.width */
    right: 7em; /* player-position-end.width */
    margin: 0 4px;
}

#player-position-end {
    right: 0;
    width: 7em;
    text-align: left;
}

#player-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px; /* ratio de 16/9 avec player-div.height */
}

#player-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 32px;
    margin-left: 8px;
}

#player-controls-form input[type=range] {
    width: 100%;
}

#player-infos {
    position: absolute;
    top: 29px; /* position + margin */
    bottom: 0;
    right: 0;
    left: 48px; /* controls.width + margin */
    margin: 0 1em;
}

#player-infos > h1,
#player-infos > h2,
#player-infos > h3,
#player-infos > h4,
#player-infos > h5,
#player-infos > h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disc {
    display: inline-block; /* empêche la coupure de colonne */
    break-inside: avoid-column; /* empêche la coupure de colonne, TODO : nécessaire ? */
}

.disc-name {
    text-decoration: underline;
    cursor: pointer;
}
.disc-name.active {
    font-weight: bold;
    color: #DB992C;
}
.disc-name:hover {
    color: #FFF;
}
.disc-name:hover a,
.disc-name:hover a:hover{
    text-decoration: inherit;
    color: #09F;
}
.track {
    cursor: pointer;
}
.track:hover {
    color: #FFF;
}
.track:hover a {
    color: #09F;
}
.track.active {
    font-weight: bold;
    color: #DB992C;
}

.track.disabled {
    opacity: 0.5;
}

/* affiche les cases uniquement au survol */
.track:hover input[type=checkbox] {
    visibility: initial;
}

.track input {
    visibility: hidden; /* uniquement au survol */
    cursor: default;
}

#player-div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
}

#player-div > div {
    /* margin: 14px; */
}

#remain-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 184px; /* player-div + marge ajoutée 4px */
    overflow: auto;
}

#remain-div {
    padding: 1em 1em 1em 0;
}

/** ajouts thumb disc */

.disc-wrapper  {
    float: left;
    border: solid 3px #292929; /* = body */
}

.disc-wrapper.active  {
    border-color: #DB992C; /* = .track.active.color */
}

.disc-wrapper.inTracklist, .disc-wrapper:hover  {
    border-color: #FFFFFF;
}

.disabled-video-cache {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #292929; /* = body */
    opacity: 0.8;
    pointer-events: none;
}

.disc-wrapper:hover .disabled-video-cache {
    opacity: 0.4;
}

.disc-thumb {
    position: relative;
}

.disc-thumb input {
    position: absolute;
    /*z-index: 1;*/
}

.disc-thumb img {
    width: 120px;
    height: 90px;
    object-fit: cover;
}
/* mq : 320x180 */
.disc-thumb img.mq {
    width: 320px;
    height: 180px;
}

.disc-wrapper .tracklist {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background: black;
    z-index: 1;
    padding: 1em;
}

.columns {
    column-width: 18em;
}

#header {
    position: relative;
}

#header > h1 {
    margin-top: 0;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right;
}

.track-controls {
    position: relative;
}

.track-controls .text {
    position: absolute;
    top: 7px;
    bottom: 0;
}

.svg-checkbox {
    cursor: pointer;
    color: #666;
    fill: #666;
}

.svg-checkbox:hover {
    cursor: pointer;
    color: #777;
    fill: #777;
}

.svg-checkbox.active {
    color: #FFF;
    fill: #FFF;
}

.svg-checkbox.active:hover {
    color: #DDD;
    fill: #DDD;
}

.monochrome, .monochrome path {
    color: #666;
    fill: #666;
}

.monochrome:hover, .monochrome:hover path {
    color: #777;
    fill: #777;
}

.youtube-color-hover:hover, .youtube-color-hover:hover path {
    color: #e62117;
    fill: #e62117;
}

#menu {
    margin: 1em;
}

#player-track-name .track-number {
    color: #555555;
}