<!doctype html>
<html lang="fr" ng-app="cuetube">

<head>
    <title>CueTube</title>

    <meta charset="utf-8" />

    <!-- à reporter dans Controller.js -->
    <meta name="google-signin-client_id" content="1000775747908-0o7m255fho5q5aa24li8h7012km3513f.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/drive">

    <link rel="icon" type="image/png" href="img/favicon_16-vfl8NGn4k-m3u.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css"><!-- TODO : à garder ? -->
    <link rel="stylesheet" href="css/angular.css">
    <!--<link rel="stylesheet" href="css/bootstrap-theme.css">-->
    <link rel="stylesheet" href="css/bootstrap-slate.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/angular-confirm.min.css">
    <link rel="stylesheet" href="css/cuetube.css">
    <link rel="stylesheet" href="css/CueTube-icons.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/yt-helper.js"></script>

    <link rel="stylesheet" href="css/player.css">

    <script src="js/system.js"></script>
    <script>
      /*System.config({
        transpiler: 'typescript',
        packages: {
          src: {
            defaultExtension: 'ts'
          }
        }
      });*/
      System.config({
        packages: {
          '.': {
            defaultExtension: 'js'
          }
        }
      });
      System.import('js/CuePrinter').then(function (CuePrinter) {
        window.CuePrinter = CuePrinter;
      });
      System.import('js/persistence/GoogleDrivePersistence').then(function (GoogleDrivePersistence) {
        window.GoogleDrivePersistence = GoogleDrivePersistence;
      });
          //.then(null, console.error.bind(console));
    </script>
    <script>
        // exemple : https://www.youtube.com/embed/Dg0IjOzopYU?origin=https%3A%2F%2Fsoundsgood.co&amp;feature=player_embedded&amp;html5=true&amp;enablejsapi=1&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;disablekb=1&amp;playsinline=1&amp;widgetid=2

        /* global $, location, yth, YT, angular */

        // function onSignIn(googleUser) {
        //   getCtrl().onSignIn(googleUser);
        // }
    </script>

    <script type="text/javascript" src="js/cuesheet.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/disc.js"></script>
    <script type="text/javascript" src="js/CueService.js"></script>
    <script type="text/javascript" src="js/CueParser.js"></script>
    <!--<script type="text/javascript" src="js/CuePrinter.js"></script>-->
    <script type="text/javascript" src="js/Collection.js"></script>
    <script type="text/javascript" src="js/yt-parser.js"></script>
    <script type="text/javascript" src="js/persistence.js"></script>
    <script type="text/javascript" src="js/persistence/LocalServerPersistence.js"></script>
    <script type="text/javascript" src="js/persistence/LocalStoragePersistence.js"></script>
    <!--<script type="text/javascript" src="js/persistence/GoogleDrivePersistence.js"></script>-->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!--<script type="text/javascript" src="socket.io/socket.io.js"></script>-->
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/angular-confirm.min.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/app.conf.js"></script>
    <script type="text/javascript" src="js/services/GapiClient.js"></script>
    <script type="text/javascript" src="js/controllers/Controller.js"></script>
</head>

<body>

    <div id="foreground-overlay">
        <div id="foreground-overlay-icon" class="center font-size-50p">
        </div>
    </div>
    <div class="background-overlay"></div>

    <div id="ctrl" ng-controller="Controller" ng-cloak>

        <div id="remain-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        <div class="panel-group" id="menu">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#menu" href="#collapseOne"><span class="glyphicon glyphicon-folder-close"></span>Collections</a>
                                        <a ng-click="createCollection()" style="float: right;"><span class="glyphicon glyphicon-plus clickable-glyphicon"></span></a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <ul class="list-group">
                                        <li class="list-group-item clickable" ng-click="playCollection()"><i>Collection par défaut</i></li>
                                        <li class="list-group-item clickable" ng-repeat="collectionNameI in collectionNames" ng-class="{active: collectionNameI == collectionName}" ng-click="playCollection(collectionNameI)">
                                            <input style="margin-right: 8px;" type="checkbox" ng-checked="currentCollectionNames.indexOf(collectionNameI) != -1" ng-click="toggleCollection(collectionNameI, $event)" />{{collectionNameI}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-10">

                        <div id="remain-div">

                            <div id="header">
                                <h1 ng-show="getCollectionParam()">{{currentCollectionNames.join(' + ')}}</h1>
                                <div class="buttons">
                                    <!--<button ng-click="createNewDiscFromVideo()">Ajouter une vidéo multipiste</button>
                                    <button ng-click="createNewDiscFromPlaylist()">Ajouter une playlist</button></a>-->
                                    <button class="btn btn-default" ng-click="createNewDiscFromVideoOrPlaylist()">Ajouter une vidéo/playlist</button>
                                    <!--<div class="g-signin2" data-theme="dark" style="display: inline-block; vertical-align: middle" data-onsuccess="onSignIn">></div>-->
                                    <!--<button id="signin2-button" class="btn btn-default">Connexion</button>-->
                                    <button id="login-btn"  class="btn btn-default" ng-click="connectGoogleDrive()" ng-hide="connectedToGoogleDrive">Google Drive</button>
                                    <button id="logout-btn" class="btn btn-default" ng-click="disconnectGoogleDrive()" ng-show="connectedToGoogleDrive">Déconnexion</button>
                                </div>
                            </div>

                            <div class="discs">

                                <div class="disc-wrapper" ng-repeat="disc in discs" data-index="{{$index}}" data-discId="{{disc.discId}}" ng-class="{active: disc.id == currentTrack.disc.id, inTracklist: disc == discInTracklist}">
                                    <div class="disc-thumb" ng-click="disc.clickThumb($event)" ng-dblclick="disc.doubleClickThumb($event)" title="{{disc.title}}. Cliquer pour ouvrir la liste des pistes de l'album">
                                        <input type="checkbox" ng-model="disc.enabled" CHECKED ng-click="disc.afterClickThumbCheckbox($event)" title="Cocher cette case pour activer/désactiver ce disque. 'Alt' pour inverser la sélection des autres disques. 'Shift' pour sélectionner un ensemble de disques qui se suivent."/>
                                        <div class="disabled-video-cache" ng-hide="disc.enabled"></div>
                                        <img class="" ng-src="https://img.youtube.com/vi/{{disc.videoId}}/default.jpg" />
                                    </div>
                                    <div class="tracklist" ng-click="stopPropagation($event)">
                                        <h2 class="disc-name" ng-class="{active: disc == discs[currentTrack.disc.index]}" ng-click="disc.load()">{{disc.title}}</h2>
                                        <h3 class="disc-performer" ng-show="disc.performer">{{disc.performer}}</h3>

                                        <a href="edit-cue?id={{disc.id}}" target="_blank">Éditer</a>
                                        <a href="#" class="hover-red" ng-click="removeDisc(disc)" title="Retirer le disque de cette collection"><span class="glyphter-bin"></span></a>
                                        &nbsp;
                                        <a ng-href="{{disc.src}}" title="Voir sur YouTube" ng-show="disc.src"><span class="monochrome youtube-color-hover glyphter-YouTube_Play_Button" style="font-size: 16px;"></span></a>
                                        <div class="columns">
                                            <ol class="disc-list">
                                                <!-- TODO : ng-repeat sans créer d'élément div dans un li ? -->
                                                <div ng-repeat="file in disc.files">
                                                    <li ng-repeat="track in file.tracks" class="track" ng-class="{active: track == discs[currentTrack.disc.index].files[currentTrack.file.index].tracks[currentTrack.index], disabled: !track.enabled}" ng-click="loadTrackIndex($index, $parent.$index, $parent.$parent.$index)">
                                                        <input type="checkbox" ng-model="track.enabled" ng-click="track.afterClickCheckbox($event)" />
                                                        <span>{{track.title || "Track "+track.number}}</span>
                                                    </li>
                                                </div>
                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div><!-- row -->
            </div><!-- container -->
        </div><!-- remain-container -->



        <!-- Exemple : https://developers.google.com/youtube/iframe_api_reference?hl=fr#Events -->
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player-div">

            <div id="player-wrap">
                <div id="player"></div>
            </div>

            <div id="player-others">

                <div id="player-controls">
                    <form id="player-controls-form">
                        <div class="track-controls">
                            <span style="font-size: 32px;" class="glyphicon glyphicon-step-backward" ng-click="previous()" title="Piste précédente. Raccourci clavier : haut"></span>
                            <span style="font-size: 32px;" class="svg-checkbox glyphicon glyphicon-play active" ng-click="play()" ng-show="isPlaying != undefined && !isPlaying" title="(Re)Démarre la lecture"></span>
                            <span style="font-size: 32px;" class="svg-checkbox glyphicon glyphicon-pause active" ng-click="pause(true)" ng-show="isPlaying == undefined || isPlaying" title="Met en pause la lecture. Raccourci clavier : Espace"></span>
                            <span style="font-size: 32px;" class="glyphicon glyphicon-step-forward" ng-click="next()" title="Piste suivante. Raccourci clavier : bas"></span>
                            <span style="font-size: 32px; margin-right: 10px;" class="svg-checkbox glyphter-random" ng-class="{active: shuffle}" ng-click="shuffle = !shuffle" title="Mode de lecture aléatoire. Une piste ne sera pas rejouée tant que les autres pistes du disque n'ont pas été jouées."></span>
                            <span style="font-size: 32px;" class="svg-checkbox glyphicon glyphicon-repeat"  ng-class="{active: repeatMode == 'disc'}"  ng-click="toggleRepeatMode()" ng-show="repeatMode != 'track'" title="Lit en boucle le disque actuel."></span>
                            <span style="font-size: 32px;" class="svg-checkbox glyphicon glyphicon-refresh" ng-class="{active: repeatMode == 'track'}" ng-click="toggleRepeatMode()" ng-show="repeatMode == 'track'" title="Lit en boucle la piste actuelle."></span>
                        </div>
                    </form>
                </div>

                <div id="player-position">

                    <div id="player-position-start" class="text">
                        <span title="Durée écoulée depuis le début de la piste">{{formatHMSS(slider.value - slider.min)}}</span> / <span title="Durée totale de la piste">{{formatHMSS(slider.max - slider.min)}}</span>
                    </div>

                    <div id="player-position-slider">
                        <!--<input name="fileSlider" ng-model="fileSlider.value" type="range" min="{{fileSlider.min}}" max="{{fileSlider.max}}" readonly/>-->
                        <!-- TODO : à mettre à disabled tant que la vidéo n'est pas chargée -->
                        <input name="trackPosition" ng-model="slider.value" type="range" min="{{slider.min}}" max="{{slider.max}}" ng-change="seekTo(slider.value)" ng-readonly="loadingTrackIndex != null" />
                    </div>

                    <div id="player-position-end" class="text" style="right: 0;">
                        <span title="Heure actuelle">{{getTime()}}</span> / <span title="Heure qu'il sera à la fin de la piste">{{getTime(slider.max - slider.value)}}</span>
                    </div>
                </div>

                <div id="player-infos">

                    <h2 id="player-disc-name">
                        {{currentTrack.disc.title}}
                        <a ng-href="{{currentTrack.disc.src}}" ng-show="currentTrack.disc.src" title="Voir sur YouTube"><span class="monochrome youtube-color-hover glyphter-YouTube_Play_Button" style="font-size: 16px;"></span></a>
                    </h2>
                    <h3 id="player-track-name"><span class="track-number">{{currentTrack.number}}.</span> {{currentTrack.title}}</h3><!-- TODO : "Track X" si title vide -->
                    <h4 id="player-track-performer">{{currentTrack.performer}}</h4>

                    <!-- TODO : tracklist courante -->
                    <!--
                    <div ng-model="currentTrack.disc" class="columns">
                        <ol class="disc-list">
                            <div ng-repeat="file in currentTrack.disc.files">
                                <li ng-repeat="track in file.tracks" class="track" ng-class="{active: track == discs[currentTrack.disc.index].files[currentTrack.file.index].tracks[currentTrack.index], disabled: !track.enabled}" ng-click="loadTrackIndex($index, $parent.$index)">
                                    <input type="checkbox" ng-model="track.enabled" ng-click="track.afterClickCheckbox($event)" />
                                    <span>{{track.title || "Track "+track.number}}</span>
                                </li>
                            </div>
                        </ol>
                    </div>
                    -->
                </div>
            </div>
        </div>

    </div>

    <script>
        /* global $, location, yth, YT, angular */

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        // Appelé automatiquement par l'IFRAME YouTube
        function onYouTubeIframeAPIReady() {
            getCtrl().onYouTubeIframeAPIReady();
        }

        // Raccourcis clavier
        window.onkeypress = function(event) {
            var code = event.code;
            switch (code) {
                case 'Space':
                    getCtrl().playPause();
                    event.stopPropagation();
                    event.preventDefault();
                    break;
            }
        };

        window.onkeydown = function(event) {
          var code = event.code;
          switch(code) {
            case 'ArrowUp':
                  getCtrl().previous();
                  break;
            case 'ArrowDown':
                  getCtrl().next();
                  break;
            case 'ArrowLeft':
                  // ...
                  break;
            case 'ArrowRight':
                  // ...
                  break;
            default:
                return;
          }
          event.stopPropagation();
          event.preventDefault();
        };

        // Avant fermeture de la page
        window.onbeforeunload = function(e) {
            console.log("Sauvegarde avant fermeture...");
            getCtrl().save();
        };

        function toggleDiscList(discListElement) {
            $(discListElement).toggle();
        }

    </script>

    <!-- Gestion des thumbs des disques -->
    <script>

        // Fermeture de la tracklist ouverte si click ailleurs
        document.addEventListener('click', function(e) {
            const lastToggled = getCtrl().lastToggledTracklist;
            if (lastToggled != null) $(lastToggled).hide();
        });

    </script>

</body>

</html>
