<!doctype html>
<html lang="en" ng-app>

<head>
    <title>CueTube - Collections</title>
    <link rel="icon" type="image/png" href="img/favicon_16-vfl8NGn4k-m3u.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <!--<script type="text/javascript" src="/js/jquery.min.js"></script>-->
</head>
    
<body>
    <a href="/player?collection=jeux vidéos">Jeux vidéos</a>
</body>

</html>
