<!doctype html>
<html lang="fr" ng-app="cuetube">

<head>
    <meta charset="utf-8" />
    <title>Playlist m3u YouTube</title>
    <link rel="icon" type="image/png" href="/img/favicon_16-vfl8NGn4k-m3u.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/player.css">

    <script>
        // exemple : https://www.youtube.com/embed/Dg0IjOzopYU?origin=https%3A%2F%2Fsoundsgood.co&amp;feature=player_embedded&amp;html5=true&amp;enablejsapi=1&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;disablekb=1&amp;playsinline=1&amp;widgetid=2

        /* global $, location, yth, YT, angular */

        // YouTube Helper
        var yth = (function() {
            var yth = {};

            /**
             * @param options cf options Youtube
             */
            yth.getSrc = function(vid, origin, options) {
                origin = origin || (location.protocol + '//' + location.host + location.pathname);
                var params = $.extend({
                    origin: origin, // origin toujours en premier car tout est placé dans ce paramètre
                    feature: 'player_embedded',
                    html5: true,
                    enablejsapi: 1,
                    controls: 0,
                    modestbranding: 1,
                    showinfo: 0,
                    rel: 0,
                    autoplay: 0,
                    disablekb: 1,
                    playsinline: 1,
                    widgetid: 2
                }, options);
                return "https://www.youtube.com/embed/" + vid + "?" + $.param(params).replace(/&/g, '&amp;');
            };

            return yth;
        })();


    </script>

    <script type="text/javascript" src="/js/cuesheet.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/disc.js"></script>
    <script type="text/javascript" src="/js/yt-parser.js"></script>
    <script type="text/javascript" src="/js/controllers/Controller.js"></script>
</head>

<body>

    <div class="background-overlay"></div>

    <div id="ctrl" ng-controller="Controller">

        <!-- Exemple : https://developers.google.com/youtube/iframe_api_reference?hl=fr#Events -->
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player-div">
            <div id="player-wrap">
                <div id="player"></div>
            </div>

            <div id="player-infos">

                <div id="player-controls">
                    <form id="player-controls-form">
                        <input name="fileSlider" ng-model="fileSlider.value" type="range" min="{{fileSlider.min}}" max="{{fileSlider.max}}" readonly/>
                        <!-- TODO : à mettre à disabled tant que la vidéo n'est pas chargée -->
                        <input name="trackPosition" ng-model="slider.value" type="range" min="{{slider.min}}" max="{{slider.max}}" ng-change="seekTo(slider.value)" ng-readonly="loadingTrackIndex != null" />

                        <input name="shuffle" id="shuffle" ng-model="shuffle" type="checkbox" />
                        <label for="shuffle">Aléatoire</label>
                    </form>
                </div>

                <h2 id="player-disc-name">{{currentDisc.title}}</h2>
                <h3 id="player-track-name">{{currentTrack.title}}</h3><!-- TODO : "Track X" si title vide -->
                <h4 id="player-track-performer">{{currentTrack.performer}}</h4>

                <!-- TODO : tracklist courante -->
                <div ng-model="currentDisc" class="columns">
                    <ol class="disc-list">
                        <div ng-repeat="file in currentDisc.files">
                            <li ng-repeat="track in file.tracks" class="track" ng-class="{active: track == discs[currentDiscIndex].files[currentFileIndex].tracks[currentTrackIndex], disabled: !track.enabled}" ng-click="loadTrackIndex($index, $parent.$index)">
                                <input type="checkbox" ng-model="track.enabled" ng-click="track.afterClickCheckbox($event)" />
                                <span>{{track.title || "Track "+track.number}}</span>
                            </li>
                        </div>
                    </ol>
                </div>
            </div>
        </div>

        <div id="remain-div">

            <div class="buttons">
                <button ng-click="createNewDiscFromVideo()">Ajouter une vidéo multipiste</button>
                <button ng-click="createNewDiscFromPlaylist()">Ajouter une playlist</button></a>
            </div>

            <div class="discs">

                <div class="disc-wrapper" ng-repeat="disc in discs" data-index="{{$index}}" data-discId="{{disc.discId}}" ng-class="{active: disc == discs[currentDiscIndex], inTracklist: disc == discInTracklist}">
                    <div class="disc-thumb" ng-click="disc.clickThumb($event)" ng-dblclick="disc.doubleClickThumb($event)" title="{{disc.title}}">
                        <input type="checkbox" ng-model="disc.enabled" CHECKED ng-click="disc.afterClickThumbCheckbox($event)" />
                        <div class="disabled-video-cache" ng-hide="disc.enabled"></div>
                        <img class="" ng-src="https://img.youtube.com/vi/{{disc.videoId}}/default.jpg" />
                    </div>
                    <div class="tracklist" ng-click="stopPropagation($event)">
                        <h2 class="disc-name" ng-class="{active: disc == discs[currentDiscIndex]}" ng-click="disc.load()">{{disc.title}}</h2>

                        <a href="/edit/{{disc.videoId}}.cue" target="_blank">Éditer</a>
                        <div class="columns">
                            <ol class="disc-list">
                                <!-- TODO : ng-repeat sans créer d'élément div dans un li ? -->
                                <div ng-repeat="file in disc.files">
                                    <li ng-repeat="track in file.tracks" class="track" ng-class="{active: track == discs[currentDiscIndex].files[currentFileIndex].tracks[currentTrackIndex], disabled: !track.enabled}" ng-click="loadTrackIndex($index, $parent.$index, $parent.$parent.$index)">
                                        <input type="checkbox" ng-model="track.enabled" ng-click="track.afterClickCheckbox($event)" />
                                        <span>{{track.title || "Track "+track.number}}</span>
                                    </li>
                                </div>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        /* global $, location, yth, YT, angular */

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        // Appelé automatiquement par l'IFRAME YouTube
        function onYouTubeIframeAPIReady() {
            getCtrl().onYouTubeIframeAPIReady();
        }

        // Raccourcis clavier
        window.onkeypress = function(event) {
            var code = event.code;
            switch (code) {
                case 'Space':
                    getCtrl().playPause();
                    event.stopPropagation();
                    event.preventDefault();
                    break;
            }
        };

        window.onkeydown = function(event) {
          var code = event.code;
          switch(code) {
            case 'ArrowUp':
                  getCtrl().previous();
                  break;
            case 'ArrowDown':
                  getCtrl().next();
                  break;
            case 'ArrowLeft':
                  // ...
                  break;
            case 'ArrowRight':
                  // ...
                  break;
            default:
                return;
          }
          event.stopPropagation();
          event.preventDefault();
        };

        // Avant fermeture de la page
        window.onbeforeunload = function(e) {
            console.log("Sauvegarde avant fermeture...");
            getCtrl().save();
        };

        function toggleDiscList(discListElement) {
            $(discListElement).toggle();
        }

    </script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/moment.min.js"></script>

    <script src="/js/app.js"></script>

    <!-- Gestion des thumbs des disques -->
    <script>

        // Fermeture de la tracklist ouverte si click ailleurs
        document.addEventListener('click', function(e) {
            var lastToggled = getCtrl().lastToggledTracklist;
            if (lastToggled != null) $(lastToggled).hide();
        });

    </script>
</body>

</html>
