<!doctype html>
<html lang="fr" ng-app="cuetube">

<head>
    <meta charset="utf-8" />
    <title>Playlist m3u YouTube</title>
    <link rel="icon" type="image/png" href="/img/favicon_16-vfl8NGn4k-m3u.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/angular-confirm.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/yt-helper.js"></script>

    <link rel="stylesheet" href="/css/player.css">

    <script>
        // exemple : https://www.youtube.com/embed/Dg0IjOzopYU?origin=https%3A%2F%2Fsoundsgood.co&amp;feature=player_embedded&amp;html5=true&amp;enablejsapi=1&amp;controls=0&amp;modestbranding=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0&amp;disablekb=1&amp;playsinline=1&amp;widgetid=2

        /* global $, location, yth, YT, angular */


    </script>

    <script type="text/javascript" src="/js/cuesheet.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/disc.js"></script>
    <script type="text/javascript" src="/js/yt-parser.js"></script>
    <script type="text/javascript" src="/js/controllers/Controller.js"></script>
</head>

<body>

    <div class="background-overlay"></div>

    <div id="ctrl" ng-controller="Controller">

        <!-- Exemple : https://developers.google.com/youtube/iframe_api_reference?hl=fr#Events -->
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player-div">
            <div id="player-wrap">
                <div id="player"></div>
            </div>

            <div id="player-infos">

                <div id="player-controls">
                    <form id="player-controls-form">
                        <!--<input name="fileSlider" ng-model="fileSlider.value" type="range" min="{{fileSlider.min}}" max="{{fileSlider.max}}" readonly/>-->
                        <!-- TODO : à mettre à disabled tant que la vidéo n'est pas chargée -->
                        <input name="trackPosition" ng-model="slider.value" type="range" min="{{slider.min}}" max="{{slider.max}}" ng-change="seekTo(slider.value)" ng-readonly="loadingTrackIndex != null" />

                        <div class="track-controls">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-checkbox" viewBox="0 -256 1800 1800" width="32" height="32" ng-class="{active: shuffle}" ng-click="shuffle = !shuffle"><path d="m666 1055q-60-92-137-273-22 45-37 72.5-15 27.5-40.5 63.5-25.5 36-51 56.5-25.5 20.5-63 35Q300 1024 256 1024H32q-14 0-23 9-9 9-9 23v192q0 14 9 23 9 9 23 9h224q250 0 410-225zM1792 256q0-14-9-23L1463-87q-9-9-23-9-13 0-22.5 9.5-9.5 9.5-9.5 22.5v192q-32 0-85-0.5-53-0.5-81-1-28-0.5-73 1-45 1.5-71 5-26 3.5-64 10.5-38 7-63 18.5-25 11.5-58 28.5-33 17-59 40-26 23-55 53.5-29 30.5-56 69.5 59 93 136 273 22-45 37-72.5 15-27.5 40.5-63.5 25.5-36 51-56.5 25.5-20.5 63-35Q1108 384 1152 384h256v192q0 14 9 23 9 9 23 9 12 0 24-10l319-319q9-9 9-23zm0 896q0-14-9-23L1463 809q-9-9-23-9-13 0-22.5 9.5-9.5 9.5-9.5 22.5v192h-256q-48 0-87-15-39-15-69-45Q966 934 945 902.5 924 871 900 825 868 763 822 654 793 588 772.5 543 752 498 718.5 438 685 378 654.5 338 624 298 580.5 255 537 212 490.5 186.5 444 161 384 144.5 324 128 256 128H32q-14 0-23 9-9 9-9 23v192q0 14 9 23 9 9 23 9h224q48 0 87 15 39 15 69 45 30 30 51 61.5 21 31.5 45 77.5 32 62 78 171 29 66 49.5 111 20.5 45 54 105 33.5 60 64 100 30.5 40 74 83 43.5 43 90 68.5 46.5 25.5 106.5 42 60 16.5 128 16.5h256v192q0 14 9 23 9 9 23 9 12 0 24-10l319-319q9-9 9-23z" class="svg-fill"/></svg>

                            <div class="text" style="left: 40px;"><span>{{formatHMSS(slider.value - slider.min)}}</span> / <span>{{formatHMSS(slider.max - slider.min)}}</span></div>
                            <div class="text" style="right: 0;"><span>{{getTime()}}</span> / <span>{{getTime(slider.max - slider.value)}}</span></div>
                        </div>
                    </form>
                </div>

                <h2 id="player-disc-name">{{currentDisc.title}}</h2>
                <h3 id="player-track-name">{{currentTrack.title}}</h3><!-- TODO : "Track X" si title vide -->
                <h4 id="player-track-performer">{{currentTrack.performer}}</h4>

                <!-- TODO : tracklist courante -->
                <div ng-model="currentDisc" class="columns">
                    <ol class="disc-list">
                        <div ng-repeat="file in currentDisc.files">
                            <li ng-repeat="track in file.tracks" class="track" ng-class="{active: track == discs[currentDiscIndex].files[currentFileIndex].tracks[currentTrackIndex], disabled: !track.enabled}" ng-click="loadTrackIndex($index, $parent.$index)">
                                <input type="checkbox" ng-model="track.enabled" ng-click="track.afterClickCheckbox($event)" />
                                <span>{{track.title || "Track "+track.number}}</span>
                            </li>
                        </div>
                    </ol>
                </div>
            </div>
        </div>

        <div id="remain-div">

            <div class="buttons">
                <!--<button ng-click="createNewDiscFromVideo()">Ajouter une vidéo multipiste</button>
                <button ng-click="createNewDiscFromPlaylist()">Ajouter une playlist</button></a>-->
                <button ng-click="createNewDiscFromVideoOrPlaylist()">Ajouter une vidéo/playlist</button></a>
            </div>

            <div class="discs">

                <div class="disc-wrapper" ng-repeat="disc in discs" data-index="{{$index}}" data-discId="{{disc.discId}}" ng-class="{active: disc == discs[currentDiscIndex], inTracklist: disc == discInTracklist}">
                    <div class="disc-thumb" ng-click="disc.clickThumb($event)" ng-dblclick="disc.doubleClickThumb($event)" title="{{disc.title}}">
                        <input type="checkbox" ng-model="disc.enabled" CHECKED ng-click="disc.afterClickThumbCheckbox($event)" />
                        <div class="disabled-video-cache" ng-hide="disc.enabled"></div>
                        <img class="" ng-src="https://img.youtube.com/vi/{{disc.videoId}}/default.jpg" />
                    </div>
                    <div class="tracklist" ng-click="stopPropagation($event)">
                        <h2 class="disc-name" ng-class="{active: disc == discs[currentDiscIndex]}" ng-click="disc.load()">{{disc.title}}</h2>

                        <a href="/edit/{{disc.videoId}}.cue" target="_blank">Éditer</a>
                        <div class="columns">
                            <ol class="disc-list">
                                <!-- TODO : ng-repeat sans créer d'élément div dans un li ? -->
                                <div ng-repeat="file in disc.files">
                                    <li ng-repeat="track in file.tracks" class="track" ng-class="{active: track == discs[currentDiscIndex].files[currentFileIndex].tracks[currentTrackIndex], disabled: !track.enabled}" ng-click="loadTrackIndex($index, $parent.$index, $parent.$parent.$index)">
                                        <input type="checkbox" ng-model="track.enabled" ng-click="track.afterClickCheckbox($event)" />
                                        <span>{{track.title || "Track "+track.number}}</span>
                                    </li>
                                </div>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        /* global $, location, yth, YT, angular */

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        // Appelé automatiquement par l'IFRAME YouTube
        function onYouTubeIframeAPIReady() {
            getCtrl().onYouTubeIframeAPIReady();
        }

        // Raccourcis clavier
        window.onkeypress = function(event) {
            var code = event.code;
            switch (code) {
                case 'Space':
                    getCtrl().playPause();
                    event.stopPropagation();
                    event.preventDefault();
                    break;
            }
        };

        window.onkeydown = function(event) {
          var code = event.code;
          switch(code) {
            case 'ArrowUp':
                  getCtrl().previous();
                  break;
            case 'ArrowDown':
                  getCtrl().next();
                  break;
            case 'ArrowLeft':
                  // ...
                  break;
            case 'ArrowRight':
                  // ...
                  break;
            default:
                return;
          }
          event.stopPropagation();
          event.preventDefault();
        };

        // Avant fermeture de la page
        window.onbeforeunload = function(e) {
            console.log("Sauvegarde avant fermeture...");
            getCtrl().save();
        };

        function toggleDiscList(discListElement) {
            $(discListElement).toggle();
        }

    </script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/angular-confirm.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/app.conf.js"></script>

    <!-- Gestion des thumbs des disques -->
    <script>

        // Fermeture de la tracklist ouverte si click ailleurs
        document.addEventListener('click', function(e) {
            var lastToggled = getCtrl().lastToggledTracklist;
            if (lastToggled != null) $(lastToggled).hide();
        });

    </script>
</body>

</html>
