/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './styles/angular.css';
/* @import './styles/bootstrap-theme.css'; */
@import './styles/bootstrap-slate.min.css';
@import './styles/bootstrap-responsive.min.css';
@import './styles/angular-confirm.min.css';
@import './styles/CueTube-icons.css';

a {
    cursor: pointer;
}

.hover-red:hover * {
  color: red;
}
.glyphicon {
  margin-right:10px;
}

.clickable {
  cursor: pointer;
}

.clickable-glyphicon {
  cursor: pointer;
}
