<div id="ctrl" *ngIf="disc">

    <form class="form-horizontal">

        <h1>Modification de {{disc.id}}.cue</h1>

        <div class="form-group">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">title</label>
                <div class="col-sm-10">
                    <input id="title" type="text" name="title" class="title form-control" [(ngModel)]="disc.title" placeholder="Titre du disque" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="performer">performer</label>
                <div class="col-sm-10">
                    <input id="performer" type="text" name="performer" class="form-control" [(ngModel)]="disc.performer" placeholder="Interprète du disque" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="date">date</label>
                <div class="col-sm-10">
                    <input id="date" type="text" name="date" class="date form-control" [(ngModel)]="disc.date" placeholder="Année du parution du disque" />
                </div>
            </div>
        </div>

        <button class="save btn btn-primary" type="submit" (click)="save()" style="margin-bottom: 1em;">Sauvegarder</button>

    </form>
    <form class="form-inline">

        <div class="form-group" style="margin-bottom: 1em;">
            <label class="control-label" for="source">source :</label>
            <input id="source" type="text" name="source" class="date form-control" [(ngModel)]="disc.src" placeholder="Année du parution du disque"  style="width: 50em;"/>
        </div>

        <div class="file" *ngFor="let file of disc.files">
            <a href="{{file.name}}" target="_blank">
                <img src="https://img.youtube.com/vi/{{file.videoId}}/default.jpg" />
            </a>
            <fieldset>
                <legend>
                    <input title="id de la vidéo dans YouTube (paramètre v dans l'URL)" class="form-control" type="text" name="fileName" [(ngModel)]="file.videoId"/>
                </legend>

                <ul class="nav nav-tabs" *ngIf="disc.files.length == 1">
                    <li class="active"><a data-toggle="tab" href="#tracks">Pistes</a></li>
                    <li><a data-toggle="tab" href="#tracklist">Tracklist</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tracks" class="tab-pane in active">
                        <fieldset *ngFor="let track of file.tracks; let index = index" class="track">
                            <!-- FIXME on est obligé d'ajouter un attribut name car [(ngModel)] ne fonctionne pas avec les primivites -->
                            <input type="number" min="0" max="999" [name]="'trackTimeMin'+index" class="form-control min" placeholder="MMM" [(ngModel)]="track.indexes[0].time.min" maxlength="3" /> :
                            <input type="number" min="0" max="59"  [name]="'trackTimeSec'+index" class="form-control sec" placeholder="SS"  [(ngModel)]="track.indexes[0].time.sec" maxlength="2" /> -
                            <input type="text" [name]="'trackTitle'+index" class="form-control title" placeholder="title" [(ngModel)]="track.title" />
                            <input type="text" [name]="'trackPerformer'+index" class="form-control performer" placeholder="performer" [(ngModel)]="track.performer" />
                            <button class="btn" (click)="track.remove()" title="Supprimer cette piste">
                                <span class="glyphicon glyphicon-remove" style="color: #600700;"></span>
                            </button>
                            <!-- TODO : pouvoir insérer une piste après n'importe quelle piste (et pas seulement la dernière -->
                            <button class="btn" (click)="file.newTrack()" title="Ajouter une piste">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </fieldset>
                    </div>

                    <div id="tracklist" class="tab-pane" *ngIf="disc.files.length == 1">
                        <button class="btn" style="margin-bottom: 1em;" (click)="prompt(null, getTracklist(file.tracks))">Copier</button>
                        <div class="textarea-wrapper" style="margin-bottom: 1em;">
                            <textarea class="form-control" style="width: 100%;" rows="{{file.tracks.length}}" placeholder="Import d'une tracklist YouTube">{{getTracklist(file.tracks)}}</textarea>
                        </div>
                        <button class="btn btn-primary" style="margin-bottom: 1em;" (click)="setTracklistFromButton($event, file)">Appliquer</button>
                    </div>
                </div>

            </fieldset>
        </div>

        <div style="margin-bottom: 1em;">
            <button class="save btn btn-primary" type="submit" (click)="save()">Sauvegarder</button>
        </div>

    </form>
</div>
